node_modules
.env
.vscode
coverage
coverage.json
typechain
typechain-types

#Hardhat
cache
artifacts

#Forge
forge-cache
out

# local secrets
.env
# local deployments
deployments/localhost
deployments/hardhat

txs-batches/

# auto generated docs
docs/contracts