[profile.default]
# solc = '0.8.21'
auto_detect_solc = true
evm_version = 'cancun'
src = 'contracts'
out = 'out'
libs = ["node_modules", "lib"]
test = 'test/foundry'
cache_path = 'forge-cache'
optimizer = true
optimizer_runs = 10000000
fs_permissions = [{ access = "read-write", path = "./" }]
ignored_warnings_from = ["node_modules", "lib", "test", "contracts/mocks"]

[fuzz]
max_test_rejects = 65536
runs = 256
seed = "0x00"
fail_on_revert = true

[invariant]
fail_on_revert = true
runs = 1000
depth = 50

[doc]
out = "docs/contracts"
title = "Fluid"
ignore = ["contracts/mocks/**/*"]

# See more config options https://github.com/foundry-rs/foundry/tree/master/config
